*{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
body{
    height: 100%;
}
header{
    margin-bottom: 30px;
}
.centriraj{
    display: block;
    width: 70%;
    margin: auto;
}
#logo{
    position: relative;
    float: left;
    width: 75px;
}
#stern{
    position: relative;
    float: left;
    width: 190px;
    height: 100%;
    margin-top: -5px; 
}
.dolje{
    display: flex;
    align-items: end;
    font-weight: 500;
}
nav a{
    text-decoration: none;
    color: black;
    margin: 5px;
    margin-left: 10px;
    margin-bottom: 0px;
}
nav a:hover{
    color: red;
}
#crven{
    color: red;
}
.clanci{
    margin: 0;
    padding: 0;
}
.bclanka{
    display: block;
    margin: 20px 0;
}
.podstranica{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
.slika{
    overflow: hidden;
    height: 200px;
    width: 100%;
}
.bclanka a{
    color: black;
    text-decoration: none;
    width: 32%;
}
.bclanka a p{
    color: rgb(222, 0, 0);
    font-size: small;
    padding-top: 7px;
    text-transform: uppercase;
}
.bclanka section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 100%;
}
.bclanka article{
    width: 100%;
    margin: auto;
}
.bclanka img{
    width: 100%;
}
h2{
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 0.5px;
}
h3{
    font-size: medium;
}
.clanakslika{
    width: 100%;
}
#ispodnaslova{
    font-family: 'Oswald', sans-serif;
    font-weight: 350;
}
.tekstclanka p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    padding: 10px 0;
    color: rgb(57, 57, 57);
}
hr{
    color: rgb(198, 198, 198);
}
.podnozje{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px;
}
.forma{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}
form{
    display: block;
    width: 70%;
    margin: auto;
}
.form-item{
    width: 50%;
    margin: auto;
}
@media only screen and (max-width:800px){
    form{
        display: block;
        width: 100%;
        margin: auto;
    }

    .form-item{
        width: 70%;
        margin: auto;
    }
    .slika{
        overflow: hidden;
        height: 100px;
        width: 100%;
    }
}
@media only screen and (max-width:1300px){
    .slika{
        overflow: hidden;
        height: 150px;
        width: 100%;
    }
}
    
.title{
    width: 100%;
}
.posalji{
    display: flex;
    justify-content: space-between;
}
.posalji button{
    border-radius: 5px;
    color: white;
    background-color: black;
}
#kategorije{
    color: rgb(222, 0, 0);
    font-size: small;
    padding-top: 7px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 350;
}
textarea{
    width: 100%;
}
input{
    width: 100%;
}
#arhiva{
    width: min-content;
}
.naslovdatum{
    display: flex;
    justify-content: space-between;
}
.tekstclanka div p{
    font-family: 'Oswald', sans-serif;
    font-size: smaller;
    color: gray;
    display: flex;
    align-items: flex-end;
}
.titl{
    text-transform: uppercase;
}
.brejk{
    display: block;
    width: 100%;
}
.formadmin{
    width: 100%;
}
.form-item{
    width: 100%;
    margin: auto;
}
.lijevo{
    display: flex;
    justify-items: left;
    margin-bottom: 5px;
}
.lijevo div{
    display: flex;
    justify-content: left;
    margin: 0;
}